<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <div class="landing1 m-0 p-0">
        <div class="row row-1 m-0 p-0 ">
            <div  class="col col-md-12 col-xs-12 col-lg-12" >
                <img src="./Assets/Images/Tagline-Online-Shop.png"  alt="alternatetext" />
            </div>
        </div>
        <div class="row row-2 m-0 p-0 ">
            <div  class="row1-col1 col-lg-7 col-12 mx-auto  col-md-12 col-sm-12 pb-3 " >
                <div  class=" container fluid" >
                    <div class="row w-100">
                        <div  class="col-sm-4 col-md-4 col-lg-4  col-4">
                            
                        </div>
                        <div  class=" col-sm-8 col-md-8 col-lg-7 col-8  form-container" >
                            <div class="voucer-gopay-row1-col2 m-0 pl-4 ">
                                <span>*Berapa Banyak anda Belanja online dalam sehari?</span>
                                <div>
                                    <label class="ml-2" htmlFor="radioA"><input type="radio" name="radio1" value="A" /> 1-3 kali </label>
                                    <label class="ml-3" htmlFor="radioB"><input type="radio" name="radio1" value="B" /> 3-5 kali</label>
                                    <label class="ml-3" htmlFor="radioC"><input type="radio" name="radio1" value="C" /> Lebih dari 5 kali</label>
                                </div>
                                <span>*Berapa Banyak Budget yang anda habiskan untuk belanja online ?</span>
                                <div>
                                    <label class="ml-1" htmlFor="radioA"><input type="radio" name="radio2" value="A" /> 10.0000-50.000 </label>
                                    <label class="ml-1" htmlFor="radioB"><input type="radio" name="radio2" value="B" /> 50.000-200.000 </label>
                                    <label class="ml-1  " htmlFor="radioC"><input type="radio" name="radio2" value="C" /> >200.000</label>
                                </div>
                                <div style=' width:80%'>
                                    <span><b>*Apakah anda tahu budget Belanja Online anda dalam sehari dapat memberikan perlindungan maksimal "Sebesar 500 juta rupiah bagi keluarga anda tercinta"?</b></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="  " >
                        <div class="row" >
                            <div class="col-lg-6 col-md-9 col-7 mx-auto mt-3 pt-2 form-bottom" style="font-size: 11px;">
                                <form>
                                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nama Lengkap*">
                                      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="No. Handphone*">
                                        <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Email*">
                                    <div class="form-group form-check mt-2">
                                        <label  htmlFor="radioA"><input type="radio" name="radio1" value="A" /> YA </label>
                                        <label  htmlFor="radioA"><input type="radio" name="radio1" value="A" /> Tidak </label>

                                    </div>
                                    <div class="form-check" style="margin-top: -15px;">
                                            <label className="ml-2" htmlFor="radioA"><input className="mr-2" type="radio" name="radio4" value="A" /> *Saya bersedia dihubungi oleh tim marketing </label>

                                    </div>
                                    <div class="g-recaptcha" data-sitekey="6LeadkwaAAAAAA7PPM-QbB2srIG-fxCF_tbm_aTq" data-callback="verifyRecaptchaCallback" data-expired-callback="expiredRecaptchaCallback"></div>
                                   
                                    <button type="submit" class="btn btn-primary m-1" style="background-color: orangered;border: none;">Submit</button>
                                  </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>

</html>